html {

    font-family: 'Raleway', sans-serif;
    background-color: var(--bg);

    /*color*/
    --white: #fff;
    --green-gradient: linear-gradient(92deg, #B2FA66 2.87%, #79FDE0 95.62%);
    --bg: #212224;
    --text: #D4D7DE;    
    --price: #FF813B;
    --btn-color: 01301C;
    --border-color: #B2FA66;
    --bg-light: #2C2E32;

    /*radius*/
    --radius: 20px;
    
    /*margin*/
    --section-bottom: 110px; 
    --section-top: 90px; 

    /*fonts*/
    --light: 300;
    --bold: 800;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--bg-light);
    max-width: 90%;
    margin:  0 auto;
    border-radius: var(--radius);
    padding: 20px 0;
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 0 15px;
    color: var(--white);
}

.btn-bright {
    border: 1px solid;
    border-color: var(--border-color);
    display: block;
    height: 60px;
    border-radius: var(--radius);
    text-align: center;
    color: var(--border-color);
    font-weight: 800;
    line-height: 60px;
    background-color: var(--bg);
    padding: 0 40px;
}